<div class="container my-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2><img width="150px" src="https://image.flaticon.com/icons/svg/3059/3059084.svg" alt=""></h2>
    </div>
    <% @cocktails.each do |c| %>
    <div class="col-sm-12 col-lg-4 mx-auto">
        <%= link_to c do %>
          <div class="card">
            <div class="card-img-top">
              <% if c.photo.attached? %>
              <%= cl_image_tag "https://res.cloudinary.com/dlseg9qtn/image/upload/v1591956648/#{c.photo.key}.png", class: 'img' %>
              <% end %>
            </div>
            <div class="card-footer">
              <h2><strong><%= c.name %></strong></h2>
              <p><%= c.ingredients.count %> Ingredients </p>
            </div>
          </div>
        <% end %>
    </div>
    <% end %>
  </div>
</div>
