<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand mynav" href="/">
  <img width="50px" src="https://image.flaticon.com/icons/svg/3059/3059084.svg" alt="">
  MisterCocktail
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to 'Add Cocktail', new_cocktail_path, class: 'btn btn-success nav-link' %>
      </li>
    </ul>
  </div>
</nav>
